{{ define "main" }}
<article class="post-page">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    {{ if .Date }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time class="post-date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ end }}
  </header>
  
  <div class="post-content">
    {{ .Content }}
  </div>
  
  <footer class="post-footer">
    <a href="/" class="back-home">← Back to Home</a>
  </footer>
</article>
{{ end }}
